 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 16px;
 }

 .logo {
     height: 100px;
 }

 header {
     padding: 10px 20px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: space-between;
 }

 ul li {
     list-style: none;
     border-bottom: 1px solid #c6bcbc;
     color: black;
 }

 nav {
     display: none;

 }

 .show {
     display: block;
     /* right:0; */
 }

 nav ul {

     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 80px;
     width: 250px;
     background-color: #b8b9bd;
     text-align: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 li a {
     text-decoration: none;
     color: #fff;
     padding: 10px 10px;
     display: block;
     font-size: 1.4rem;
     font-weight: 700;
     padding: 20px 20px;
 }

 li a:hover {
     background-color: #f6af65;
     color: white;
 }




 .hero {
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }

 .hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     object-position: center;
     display: block;
     top: -10px;
     z-index: -1;
 }

 .tagline {
     position: relative;
     width: 100%;
     left: 50px;
     /* text-align: center; */
     top: 100px;
     z-index: -1;
 }

 .tagline p {
     font-size: 3.5rem;
     color: white;
     font-family: "Sekuya", serif;
 }

 .btn {
     padding: 20px 20px;
     border: none;
     background-color: #da7104;
     border-radius: 8px;
     color: white;

 }

 .accomodation {
     position: relative;
     width: 80%;
     display: flex;
     justify-content: center;
     gap: 20px;
     align-items: center;
     height: 200px;
     background-color: rgba(255, 255, 255, 0.41);
     transform: translate(20%, 65%);
     padding: 50px;
 }

 .accomodation-item {
     width: 300px;
     height: 61px;
     text-align: center;
     background-color: white;
 }

 .accomodation-item p {
     position: absolute;
     transform: translate(27px, 18px);
 }

 h1 {
     font-size: 2.5rem;
     font-family: "Playfair", serif;
     text-align: center;

 }

 .about {
     max-width: 100%;
 }

 .services {
     /* width: 100%; */
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 10%;
 }

 .service-item {
     width: 100%;
     height: 250px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
 }

 .item-img img {
     width: 80px;
     height: 80px;
 }

 .item-img {
     padding: 20px;
     text-align: center;
 }

 .item-text {
     color: #6e6a68;
     text-align: center;
     padding: 1px;
 }

 .item-text p {
     margin-top: 9px;
 }

 .destinations {
     height: auto;
     display: grid;

     padding: 10%;
     row-gap: 120px;
 }

 .destination-img img {
     width: 100%;
     height: 230px;
     border-radius: 10px;
 }

 .item {
     height: 150px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .left{
    float: left;
    font-size: 18px;
    font-weight: 600;
 }
 .right{
    float: right;
    font-weight: 800;
    color: #bf5c00;
 }

 @media(min-width:600px) {
     nav {
         display: block;

     }

     #menu {
         display: none;
     }

     nav ul {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: end;
         gap: 50px;
         width: auto;
         position: static;
         top: 0px;
         background-color: transparent !important;
         box-shadow: none;

     }

     li a {
         font-size: 1.5rem;
         font-weight: 700;
         font-family: "Playfair", serif;
     }

     .tagline p {
         font-size: 5rem;
     }

     .services {
         width: 100%;
         height: auto;
         display: flex;
         flex-direction: row;
         gap: 50px;
         justify-content: center;

     }

     .destination {
         width: 100%;
         height: auto;
         display: flex;
         flex-direction: row;
         gap: 50px;
         justify-content: center;

     }

     .destinations {
         height: auto;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         justify-content: center;
         padding: 10%;
         column-gap: 20px;
         row-gap: 150px;
     }
 }