 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 16px;
 }

 .logo {
     height: 100px;
 }

 header {
     padding: 10px 20px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: space-between;
 }

 ul li {
     list-style: none;
     border-bottom: 1px solid #c6bcbc;
     color: black;
 }

 nav {
     display: none;

 }

 .show {
     display: block;
     /* right:0; */
 }

 nav ul {

     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 80px;
     width: 250px;
     background-color: #b8b9bd;
     text-align: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 li a {
     text-decoration: none;
     color: #fff;
     padding: 10px 10px;
     display: block;
     font-size: 1.4rem;
     font-weight: 700;
     padding: 20px 20px;
 }

 li a:hover {
     background-color: #f6af65;
     color: white;
 }
 #links{
    transition: max-height 0.4s ease;
 }
  #links.open {
        max-height: 300px;            
    }

 @media(min-width:600px) {
     nav {
         display: block;

     }

     #menu {
         display: none;
     }

     nav ul {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: end;
         gap: 50px;
         width: auto;
         position: static;
         top: 0px;
         background-color: transparent !important;
         box-shadow: none;

     }

     li a {
         font-size: 1.5rem;
         font-weight: 700;
         font-family: "Playfair", serif;
     }

     .tagline p {
         font-size: 5rem;
     }
 }

 .hero {
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }

 .hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     object-position: center;
     display: block;
     top: -10px;
     z-index: -1;
 }

 .tagline {
     position: relative;
     width: 100%;
     left: 50px;
     /* text-align: center; */
     top: 100px;
     z-index: -1;
 }

 .tagline p {
     font-size: 3.5rem;
     color: white;
     font-family: "Sekuya", serif;
 }

 .btn button{
     padding: 20px 20px;
     border: none;
     background-color: #da7104;
     border-radius: 8px;
     color: white;

 }